@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
	box-sizing: border-box;
	border:0;
	margin:0;
}
body{
	background-color:#0D3B66;
}
h3,li,a{
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	color:black;
	text-decoration: none;
}
.navigation{
	width:60%;
	display:flex;
	margin:auto;
	margin-top:25px;
	margin-bottom:100px;
	padding:3px;
	z-index: 1;
	justify-content: flex-end;
	background-color:#fdd300;
	border-radius:15px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	transition:transform 0.25s ease-in-out;
}
.navigation:hover{
	transform:scale(1.01);
}
.logo{
	margin-left:10px;
	margin-right:auto;
	color:black;
	cursor: pointer;
	padding:10px;
}
#logo-img{
	float:left;
	margin-right:10px;
	width:50px;
	height:50px;
}
#logo-text{
	float:left;
	padding:5px;
	font-size:30px;
	font-weight:500;
}

ul{
	display:flex;
	justify-content: space-around;
	align-items: center;
	margin-right:10px;
	padding:10px;
}
li{
	list-style: none;
	padding:0 15px;
}
.nav-item{
	font-size:1.05rem;
}

#form{
	font-family: 'Open Sans', sans-serif;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	width:100%;
}
#form h1{
	color:#EE964B;
	font-size:4em;
	margin-bottom:30px;
}
.my-form{
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction:column;
	justify-content: center;
	padding:20px;
	width:30%;
	margin:auto;
}

label{
	color:bisque;
	font-size: 1.5em;
	display: block;
	margin-top:20px;
	text-align:center;
}
select{
	width:60%;
	margin:10px auto;
	display: block;
	max-width: 90%;
	padding:10px;
	font-size:1em;
	border-radius: 15px;
}
#btn{
	color:blanchedalmond;
	display: block;
	padding:20px;
	font-size:1.2rem;
	background-color:#F96A4D;
	border-radius:15px;
	margin:15px auto;
	transition:transform 0.25s ease-in-out;
}
#btn:hover{
	transform:scale(1.1);
}
#error{
	color:red;
	font-size:0.8em;
}
#username{
	font-weight:bold;
}
footer{
	font-family: 'Roboto', sans-serif;
	text-align:center;
	background-color:#FAF0CA;
	color:#0A0B0A;
	padding:4px;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
}
footer span{
	font-weight:bold;
	font-family: 'Rubik', sans-serif;
	font-size:1.1em;
}





